<div>
  <div class="btn-group mb-5" style="margin-left:25%">
    <button class="btn btn-dark" (click)="formulario = 'PRODUCTO'">Añadir Producto</button>

    <button class="btn btn-dark" (click)="formulario = 'MARCA'">Añadir Marca</button>

    <button class="btn btn-dark" (click)="formulario = 'CATEGORIA'">Añadir Categoria</button>
  </div>
  <div class="container">
    <div class="row">
      <div class="d-flex col-13 justify-content-center align-items-center text-center mb-5 seccion">
        {{formulario}}
      </div>
    </div>
  </div>
  <div>
    <form *ngIf="formulario == 'PRODUCTO'" (ngSubmit)="onSubmitProduct()">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-3">
            <p-dropdown [options]="marcas" [(ngModel)]="marca" name="Marca"></p-dropdown>
          </div>
          <div class="col-3">
          <span class="p-float-label">
            <input type="text" pInputText [(ngModel)]="modelo" name="modelo">
            <label htmlfor="modelo">Modelo</label>
          </span>
          </div>
          <div class="col-3">
          <span class="p-float-label">
            <input type="number" pInputText [(ngModel)]="precio" name="precio">
            <label htmlfor="precio">Precio</label>
          </span>
          </div>
          <div class="col-3">
          <span class="p-float-label">
            <input type="number" pInputText [(ngModel)]="stock" name="stock">
            <label htmlfor="Stock">Stock</label>
          </span>
          </div>
        </div>
        <div class="row d-flex justify-content-center mt-3">
          <div class="col-9">
          <span class="p-float-label">
            <input type="text" pInputText [(ngModel)]="descripcion" name="descripcion" class="inputDescripcion">
            <label htmlfor="descripcion">Descripcion</label>
          </span>
          </div>
          <div class="col">
            <p-dropdown [options]="categorias" [(ngModel)]="categoria" name="categoria"></p-dropdown>
          </div>
        </div>
      </div>
      <br>
      <div class="d-flex justify-content-end" style="margin-right: 15%">
        <button type="submit" pButton label="Guardar"></button>
      </div>
    </form>
    <form *ngIf="formulario == 'MARCA'" (ngSubmit)="onSubmitMarca()">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col">
          <span class="p-float-label">
            <input type="text" pInputText [(ngModel)]="marcaOwn" name="marcaOwn">
            <label htmlfor="marcaOwn">Marca</label>
          </span>
          </div>
        </div>
      </div>
      <br>
      <div class="d-flex justify-content-end" style="margin-right: 15%">
        <button type="submit" pButton label="Guardar"></button>
      </div>
    </form>
    <form *ngIf="formulario == 'CATEGORIA'" (ngSubmit)="onSubmitCategoria()">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col">
          <span class="p-float-label">
            <input type="text" pInputText [(ngModel)]="categoriaOwn" name="categoriaOwn">
            <label htmlfor="categoriaOwn">Categoria</label>
          </span>
          </div>
        </div>
      </div>
      <br>
      <div class="d-flex justify-content-end" style="margin-right: 15%">
        <button type="submit" pButton label="Guardar"></button>
      </div>
    </form>
  </div>
</div>
