<div class="row d-flex justify-content-center">
    <ng-template ngFor let-product [ngForOf]="listaProductos">
        <div class="col-4 mt-2">
          <div class="card">
            <div class="card-header">
              <div>{{product.marca.nombre}} {{product.modelo}}</div>
            </div>
            <div class="card-body">
              <div>
                {{product.descripcion}}
              </div>
            </div>
            <div class="card-footer">
              <div>
                ${{product.precio}}
              </div>
            </div>
          </div>
        </div>
    </ng-template>
</div>
